body
{
    border:none;
    background-color: black;
    
}

.bg
{
    height: 100%;
    width: 100%;
    background-color: tomato;
}
.bg-img
{
    height: 100%;
    width: 100%;
    padding: none;
    border: none;
    margin: none;
    background-image: url(img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: none;
}

.bg-text
{   
    position: relative;
    top: 20%;
    
}
.bg-text h1,p
{
    text-align: center;
    color: yellow;
    position: relative;
    letter-spacing: 4px;
}

.bg-col
{
    background-color: yellow;
}
.aboutus
{
    height:500px;
    width:500px;
    
    text-align:center;
    color: yellow;
}

.aboutus-right
{
    padding-right:20px;
    padding-left: 20px;
}

.aboutus-right img
{
    height:400px;
    
    position:relative;
}
.aboutus-left
{
    padding-left: 20px;
    padding-right: 20px;
}
.aboutus-left p
{
    color:yellow;
    letter-spacing:2px;
}

.aboutus-left h2
{
    text-decoration: underline;
}


.row
{
    text-align: center;
}

.p-col
{
   color: yellow; 
   font-size: 50px;
   letter-spacing: 10px;
    
}

.team
{
    background-color: black;
}

.team-col img
{
    height: 210px;
    width: 210px;
    border-radius: 100%;
}

.footer
{
    height: 100px;
    background-color: yellow;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 20px;
    
}



.mygallery div img
{
    height: 500px;
    
}